{% extends "base.html" %}

{% block body %}
	<div class="container-fluid mb-3 text-center">
		<h2>
			Languages
		</h2>
	</div>	
	<div class="container mb-3">	
	<table class="table">
		<thead>
			<tr>
				<th class="text-start">Name</th>
				<th class="text-start">Number of tables</th>
			</tr>
		</thead>
		{% for language in languages %}
		<tr>
			<td class="text-start">
				<a class="btn btn-danger" href="/tables/{{ language.name }}">{{ language.name }}</a>
			</td>
			<td class="text-start">
				{{ language.tables | length }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="mb-3 text-center">
		<a class="btn btn-secondary" href="/create_language" role="button">Create Language</a>
	</div>
{% endblock %}
