{% extends "base.html" %}

{% block body %}
	<div class="container-fluid">
		<h2>
			{{ language.name }} Tables
		</h2>
	</div>	
	<table class="table">
		{% for table in tables %}
		<tr>
			<td class="text-start"><a class="btn btn-primary" href="/view_table/{{ language.name }}/{{ table.name }}">{{ table.name }}</a></td>
		</tr>
		{% endfor %}
	</table>
	<div class="mb-3">
		<a class="btn btn-secondary" href="/create_table/{{ language.name }}" role="button">Create Table</a>
	</div>
{% endblock %}
