{% extends "base.html" %}

{% block body %}
	<div class="container-fluid mb-3 text-center">
		<h2>{{ table.name }}</h2>
		<p>Created by {{ table.creator.name }} on {{ table.created }}</p>
		<a autofocus class="btn btn-primary mb-3" href="/quiz/{{ table.language.name }}/{{ table.name }}" role="button">Quiz</a>
		{% if table.creator_id == user.id %}
		<a class="btn btn-info mb-3" href="/edit_table/{{ table.language.name }}/{{ table.name }}" role="button">Edit Table</a>
		{% endif %}
		{% if sub != None and sub.quiz_attempts > 1 %}
		<a class="btn btn-warning mb-3" href="/unsubscribe/{{ table.language.name }}/{{ table.name }}" role="button">Unsubscribe</a>
		<p>
			You have attempted a quiz on this table {{ sub.quiz_attempts }} times, with an average score of {{ sub.average_percentage_score }}%.
		</p>
		<p>
			In your last attempt on {{ sub.last_quiz_date }}, you scored {{ sub.last_quiz_results.percentage_score }}%.
		</p>
		{% elif sub!= None and sub.quiz_attempts == 1 %}
		<a class="btn btn-warning mb-3" href="/unsubscribe/{{ table.language.name }}/{{ table.name }}" role="button">Unsubscribe</a>
		<p>
			You have attempted a quiz on this table once on {{ sub.last_quiz_date }}, with a score of {{ sub.average_percentage_score }}%.
		</p>
		{% endif %}
			
	</div>
	<div class="container mb-3">
	<table class="table">
		<thead>
			<tr>
				<th class="text-start">Word</th>
				<th class="text-start">Translation</th>
			</tr>
		</thead>
		<tbody>
			{% for word_pair in table.words %}		
			<tr>
				<td class="text-start">{{ word_pair.foreignWord }}</td>
				<td class="text-start">{{ word_pair.translation }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
	</div>
{% endblock %}
