{% extends "base.html" %}

{% block body %}
	<div class="container-fluid">
		<h2>{{ table.name }}</h2>
		<p>Created by {{ table.creator.name }} on {{ table.created }}</p>
		<a class="btn btn-primary" href="/quiz/{{ table.language.name }}/{{ table.name }}" role="button">Quiz</a>
		{% if table.creator_id == user.id %}
			<a class="btn btn-info" href="/edit_table/{{ table.language.name }}/{{ table.name }}" role="button">Edit Table</a>
		{% endif %}
		{% if sub != None and sub.quiz_attempts > 1 %}
			<a class="btn btn-warning" href="/unsubscribe/{{ table.language.name }}/{{ table.name }}" role="button">Unsubscribe</a>
			<p>
				You have attempted a quiz on this table {{ sub.quiz_attempts }} times, with an average score of {{ sub.average_percentage_score }}%.
			</p>
			<p>
				In your last attempt you scored {{ sub.last_quiz_results.percentage_score }}%.
			</p>
		{% elif sub!= None and sub.quiz_attempts == 1 %}
			<a class="btn btn-warning" href="/unsubscribe/{{ table.language.name }}/{{ table.name }}" role="button">Unsubscribe</a>
			<p>
				You have attempted a quiz on this table {{ sub.quiz_attempts }} time, with a score of {{ sub.average_percentage_score }}%.
			</p>
		{% endif %}
			
	</div>
	<table class="table">
		<thead>
			<tr>
				<th class="text-start">Word</th>
				<th class="text-start">Translation</th>
			</tr>
		</thead>
		<tbody>
			{% for word_pair in table.words %}		
			<tr>
				<td class="text-start">{{ word_pair.foreignWord }}</td>
				<td class="text-start">{{ word_pair.translation }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
{% endblock %}
