{% extends "base.html" %}

{% block body %}
<form action="/edit_table/{{ language.name }}/{{ table.name }}" method="post">
		<div class="container-fluid">
			<h3>Editing {{ table.name | capitalize }}</h3>
		</div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control w-auto" id="foreignWord" name="foreignWord" placeholder="Word" type="text" required>
            <input autocomplete="off" autofocus class="form-control w-auto" id="translation" name="translation" placeholder="Translation" type="text" required>
			<br>
        	<button class="btn btn-primary" type="submit">Add</button>
			<a class="btn btn-info" href="/view_table/{{ language.name }}/{{ table.name }}" role="button">View Table</a>
        </div>
    </form>
{% endblock %}
